.body{
    background-color: white;
}

.class-content{
    padding-top: 53px;
}

.class{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 70px;
    background-color: maroon;

    color: white;
    padding: 15px;
    overflow: hidden;
}

.class h1, p{
    color: rgb(240, 240, 240);
}

.class h1{
    user-select: none;
}

.class p{
    padding: 20px 3px 10px;
}

.class:hover{
    opacity: 0.8;
}

#barbarian{
    background-color: #ad5100;
    /* background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png"); */
}

#bard{
    background-color: #8b50a3;
    /* background-image: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png"); */
}

#cleric{
    background-color: #575757;
    /* background-image: url("https://www.transparenttextures.com/patterns/cross-scratches.png"); */
}

#druid{
    background-color: #154a00;
    /* background-image: url("https://www.transparenttextures.com/patterns/dimension.png"); */
}

#fighter{
    background-color: #290e00;
    /* background-image: url("https://www.transparenttextures.com/patterns/dust.png"); */
}

#monk{
    background-color: #00676b;
    /* background-image: url("https://www.transparenttextures.com/patterns/fabric-1-dark.png"); */
}

#paladin{
    background-color: #756500;
    /* background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png"); */
}

#ranger{
    background-color: #313800;
    /* background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"); */
}

#rogue{
    background-color: #292929;
    /* background-image: url("https://www.transparenttextures.com/patterns/cartographer.png"); */
}

#sorcerer{
    background-color: #660000;
    /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"); */
}

#warlock{
    background-color: #24004d;
    /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"); */
}

#wizard{
    background-color: #1b1b1b;
    /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"); */
}

#wizard h1{
    color: grey;
}

#wizard h1::after{
    content: 'currently unavailable';
    position: absolute;
    right: 50px;
}

#wizard:hover{
    opacity: 1;
}