*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(10, 10, 10);
}

.body{
    background-color: tan;
    height: 100vh;
}

nav{
    background-color: black;
    position: absolute;
    width: 100vw;
    z-index: 2;
}

ul{
    width: fit-content;
    margin: 0 auto;
}

li{
    display: inline-block;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

li.current{
    background-color: black;
    border-bottom: 3px solid orange;
}

li.current:hover{
    opacity: 1;
}

li:hover{
    opacity: 0.8;
}

.home-content{
    margin: 0 15px;
    padding-top: 100px;
}