.background{
    height: 100vh;
    background-position: center;
    background-size: 150% auto;
    background-repeat: no-repeat;
    filter: blur(6px);
}

.content{

    width: 1000px;
    height: fit-content;
    position: absolute;
    top: 200px;
    left: calc(50vw - 500px);
}

.scroll-top, .scroll-bottom{
    height: 30px;
    box-shadow: inset 0 0 3px 0;
}

.scroll-top{
    background-image: linear-gradient(tan, rgb(252, 222, 183), tan, rgb(173, 149, 117));
}

.scroll{
    border-radius: 10px/100%
}

.scroll-content{
    background-color: tan;
    height: 10px;
    margin: 0 10px;
    padding-top: 20px;
    box-shadow: 10px 0 10px -10px black,
                -10px 0 10px -10px black,
                inset 0 0px 10px 0px;
}

.content p{
    padding: 20px 50px 0;
    line-height: 23px;
    font-family: 'MedievalSharp';
    font-weight: 700;
    font-size: 18px;
}

.content p:first-of-type::first-letter{
    font-size: 50px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 46px;
    margin-right: 5px;
}

.content p:last-of-type{
    margin: 50px 100px;
}

.scroll-bottom{
    background-image: linear-gradient(rgb(184, 157, 122), rgb(252, 222, 183), tan, rgb(173, 149, 117));
}