<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link href='https://fonts.googleapis.com/css?family=MedievalSharp' rel='stylesheet'>

    <title>Oneshot - Home</title>
</head>
<body>
    <div class="body">
       <nav>
           <ul>
               <a href="/"><li name="home" class="current">Home</li></a>
               <a href="/setting"><li name="setting">Setting</li></a>
               <a href="/races"><li name="races">Races</li></a>
               <a href="/classes"><li name="classes">Classes</li></a>
           </ul>
       </nav> 
       <div class="home-content">
           <p>Welcome to the home page for our Dungeons and Dragons one-shot, courtesy of Matthew Wiltzius. To get started, simply select any of the above links to arrive at the page of your choice.</p>
           <p>If you have any questions, you can contact Matthew via facebook or his cellphone. Enjoy your stay!</p>
       </div>
    </div>
</body>
</html>