<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/races.css')}}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='scripts/races.js')}}"></script>

    <title>Oneshot - Races</title>
</head>
<body>
    <div class="body">
        <nav>
            <ul>
                <a href="/"><li name="home">Home</li></a>
                <a href="/setting"><li name="setting">Setting</li></a>
                <a href="/races"><li name="races" class="current">Races</li></a>
                <a href="/classes"><li name="classes">Classes</li></a>
            </ul>
        </nav>  
        <div class="race-content">
            <div class="race" id="dragonborn">
                <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/340/420/618/636272677995471928.png" alt="">
                <h1>Dragonborn</h1>
            </div>
            <div class="race" id="dwarf">
                <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/254/420/618/636271781394265550.png" alt="">
                <h1>Dwarf</h1>
            </div>
            <div class="race" id="elf">
                <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/7/639/420/618/636287075350739045.png" alt="">
                <h1>Elf</h1>
            </div>
            <div class="race" id="gnome">
                <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/334/420/618/636272671553055253.png" alt="">
                <h1>Gnome</h1>
            </div>
            <div class="race" id="halfelf">
                <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/481/420/618/636274618102950794.png" alt="">
                <h1>Half-Elf</h1>
            </div>
            <div class="race" id="halfling">
                <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/256/420/618/636271789409776659.png" alt="">
                <h1>Halfling</h1>
            </div>
            <div class="race" id="halforc">
                <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/466/420/618/636274570630462055.png" alt="">
                <h1>Half-Orc</h1>
            </div>
            <div class="race" id="human">
                <img src="https://media-waterdeep.cursecdn.com/avatars/thumbnails/6/258/420/618/636271801914013762.png" alt="">
                <h1>Human</h1>
            </div>
            <div class="race" id="tiefling">
                <img src="http://media-waterdeep.cursecdn.com/attachments/0/646/tiefling.png" alt="">
                <h1>Tielfing</h1>
            </div>
        </div>
        <div class="cover">
            <div class="race-page">
                <img src="" alt="Race image here">
                <div class="race-description">
                    <h1>Dwarf</h1>
                    <p></p>
                </div>
                <div class="close"></div>
            </div>
        </div>
    </div>
</body>
</html>